export OMPS_INT_TEST_OMPS_URL='https://omps.example.com/v1'
export OMPS_INT_TEST_OMPS_ORG='community-operators'
export OMPS_INT_TEST_QUAY_URL='https://quay.io/api/v1'
export OMPS_INT_TEST_QUAY_USER='bob'
export OMPS_INT_TEST_QUAY_PASSWD='<cli password>'
